.jumbotron {
    background-color: #a22fff;
    color: white;
}

footer {
    background-color: #a941ff7e;
    padding: 10px 10px 10px 10px;
    margin-top: 25px;
    margin-bottom: 0px;
}

address {
    color:white
}

.card-p {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
}

a {
    color:#a22fff;
    font-weight: bold;
}


.btn-reserve {
    width: 100%;
}